a{
  color:black;
  text-decoration: none;
}
h1 {
  font-size: 50px;
  text-align: center;
  border-bottom:1px solid gray;
  padding: 30px;
  margin:0;
}
body{
  margin:0;
}
#grid ol{
  margin:0;
  padding: 25px;
  width: 80px;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
#article{
  border-left: 1px solid gray;
  padding-left: 20px;
}
@media(max-width:500px)  {
  #grid{
    display: block;
}
#article{
  border-left: none;
}
h1 {
  border-bottom:none;
}
}
